@import url('https://fonts.googleapis.com/css?family=Oxygen');
$bodyFont: 'Oxygen', sans-serif;

.innerMarkdown {
  line-height: 20px !important;
  font-size: 14px !important;
  padding-right: 10px !important;

  p {
    font-family: $bodyFont;
    line-height: 18px;
    font-size: 12px;
  }
}

li {
  font-family: $bodyFont;
  line-height: 20px;
}

