/* TODO: Important to more succintly namespace these classes as the app expands. */

.fullscreen {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.loader {
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #9e85f6;
  /* Blue */
  border-radius: 50%;
  width: 240px;
  height: 240px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }
.app-case {
  position: relative;
  /* top: -80px; */
  /* width: 100vw; */
}

.app-title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center; }

.shelf-case {
  flex-direction: row;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around; }

.shelf-book {
  /* font-family: "PT Serif", sans-serif; */
  font-size: 12pt;
  line-height: 30px;
  position: relative;
  color: black;
  border: 1px solid #9e85f6;
  margin: 10px;
  min-width: 250px;
  max-width: 250px;
  width: 18vw;
  height: 100px;
  border-radius: 4px; }
  .shelf-book:hover {
    cursor: pointer;
    -webkit-transition: background-color 0.2s;
    transition: background-color 0.2s;
    background-color: #f9f7fe; }
  .shelf-book .title {
    font-family: "Josefin Slab", serif;
    color: black;
    font-size: 13pt;
    line-height: 15pt;
    padding: 10px; }
  .shelf-book .author {
    font-size: 10pt;
    line-height: 11pt;
    color: #9e85f6;
    position: absolute;
    text-align: right;
    bottom: 8px;
    left: -8px;
    width: 100%; }

.desk-case {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  max-width: 30em;
  margin: auto; }

.desk-book {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
  -webkit-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
  border-bottom: 1px solid #B3B3B3;
  padding-bottom: 8px; }
  .desk-book .details {
    width: 100%; }
  .desk-book .title {
    font-family: "Josefin Slab", serif;
    color: black;
    font-size: 13pt;
    line-height: 15pt;
    font-size: 18pt;
    line-height: 20pt; }
  .desk-book .author {
    font-size: 10pt;
    line-height: 11pt; }
  .desk-book .progress-bar {
    margin: 15px 2px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start; }